---
interface Props {
  imageUrl: string;
  fullName: string;
}

const { imageUrl, fullName } = Astro.props;
---

<div
  class="flex justify-center order-1 lg:justify-end lg:order-2"
  data-animate="fade-left"
  data-delay="0.2"
>
  <div class="relative group">
    <div
      class="absolute transition duration-500 rounded-full opacity-50 -inset-0.5 bg-linear-to-r from-emerald-500 to-teal-500 blur-lg group-hover:opacity-75"
    ></div>

    <div class="relative">
      <img
        src={imageUrl}
        alt={`${fullName} - Software Developer`}
        width="320"
        height="320"
        fetchpriority="high"
        class="relative object-cover w-64 h-64 transition duration-500 transform border-4 border-white rounded-full shadow-sm lg:w-80 lg:h-80 dark:border-gray-800 group-hover:scale-105"
      />
    </div>
  </div>
</div>
