---
interface Props {
  imageUrl: string;
  fullName: string;
}

const { imageUrl, fullName } = Astro.props;
---

<div
  class="flex justify-center order-1 lg:justify-end lg:order-2"
  data-animate="fade-left"
  data-delay="0.2"
>
  <div class="relative group">
    <div
      class="absolute transition duration-500"
    ></div>

    <div class="relative">
      <img
        src={imageUrl}
        alt={`${fullName} - Software Developer`}
        width="320"
        height="320"
        fetchpriority="high"
        class="relative object-cover w-64 h-64 transition duration-500 transform rounded-xl lg:w-80 lg:h-80 group-hover:scale-105"
      />
    </div>
  </div>
</div>
