---
import { PROJECTS } from '../../data/constants';
import FeaturedProject from '../organisms/FeaturedProject.astro';
import SectionHeading from '../molecules/SectionHeading.astro';
---

<section id="projects" class="bg-canvas px-6 py-24 lg:py-32">
  <div class="mx-auto max-w-6xl">
    <SectionHeading
      letter="P"
      title="Projects"
      sub="Detailed work samples, all shown with the same weight so the scan does not hide useful proof."
    />

    <div>
      {PROJECTS.map((project, index) => (
        <FeaturedProject project={project} reverse={index % 2 === 1} />
      ))}
    </div>
  </div>
</section>
