---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/layout/Navbar.astro';
import Hero from '../components/sections/Hero.astro';
import Projects from '../components/sections/Projects.astro';
import Footer from '../components/layout/Footer.astro';
---

<Layout title="Luis Sagnay | Software Engineering">
	<Navbar />
	<main>
		<Hero />
		<Projects />
	</main>
	<Footer />
</Layout>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(ScrollTrigger);

	gsap.from(".animate-on-scroll", {
		opacity: 0,
		y: 50,
		duration: 0.6,
		stagger: 0.2,
		scrollTrigger: {
			trigger: "main",
			start: "top 80%",
		}
	});
</script>