---
import TechIcon from '../atoms/TechIcon.astro';

const technologies = [
  { name: 'JavaScript' },
  { name: 'TypeScript' },
  { name: 'Python' },
  { name: 'Java' },
  { name: 'Dart' },
  { name: 'C#' },
  { name: 'Angular' },
  { name: 'Node.js' },
  { name: 'Spring Boot' },
  { name: 'Flutter' },
  { name: 'Ubuntu' },
  { name: 'Bun' },
];
---

{technologies.map((tech) => (
  <div>
    <TechIcon name={tech.name} size={48} />
    <span>{tech.name}</span>
  </div>
))}